@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="/img/1.png" alt="logo"></a></div>
        <span class="splash-description">Önlisans/Lisans/Enstitü</span>
        <div class="card-body">
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg btn-block">Öğrenci Giriş</a>
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg btn-block">Akademisyen Girişi</a>
        </div>
    </div>
</div>